.body.lock {
    overflow: hidden;
}
.container {
    max-width: 1278px;
    margin: 0px auto;
}

.main-content  {
    position: relative;
    max-height: 850px;
    height: 100%;
    padding-top: 250px;
}

.main-content__bg {
    min-width: 768px;
    width: 100%;
    height: auto;
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 1;
}
.main-content__bg img {
    max-width: 1920px;
    width: 100%;
}
.main-content__bg video {
    max-width: 1920px;
    width: 100%;
}

.main-content__bg-img2 {
    display: none;
}



.main-content__inner {
    position: relative;
    z-index: 2;
    max-height: 850px;
    height: 100%;
    display: flex;
    align-items: end;
}

.main-content__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 650px;
}

.main-content__title {
    color: var(--fcfcfc, #FCFCFC);
    font-family: Montserrat;
    font-size: 96px;
    font-style: normal;
    font-weight: 500;
    line-height: 102%; /* 97.92px */
    text-transform: uppercase;
}

.main-content__nav {
    margin-top: 32px;
    margin-bottom: 83px;
}

.main-content__list {
    color: var(--fcfcfc, #FCFCFC);
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    list-style: none;
}

.main-content__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 4px;
}

.main-content__list-text {
    padding-bottom: 0;
}

.red-arrow {
    margin-right: 17px;
}

.main-content__btn-sound {
    color: var(--fcfcfc, #FCFCFC);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 159.9%; /* 31.98px */
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.main-content__on {
    color: var(--dc-4-a-46, #DC4A46);
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 159.9%;
    text-transform: uppercase;
    padding-left: 7px;
}

.main-content__red-btn {
    position: relative;
    top: 85px;
    right: 85px;
}

.red-circle-btn {
    min-width: 220px;
    width: 100%;
    min-height: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red-circle__bg {
    max-width: 220px;
    position: absolute;
    width: 100%;
}


.red-circle-btn__text img {
    width: 100%;
    z-index: 2;
}

.red-circle-btn__text {
    color: var(--fcfcfc, #FCFCFC);
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    max-width: 121px;
    width: 100%;
}

.white-arrow {
    max-width: 36px;
    width: 100%;
    padding-top: 19px;
}

@media screen and (max-width: 768px) {
    .main-content {
        padding-top: 100px;
    }
    
    .main-content__body {
        padding-top: 150px;
        padding-left: 20px;
    }

    .main-content__nav {
        margin-top: 20px;
        margin-bottom: 0px;
    }

    .main-content__btn-sound {
        padding-left: 0px;
        padding-top: 65px;
        display: flex;
        align-items: flex-start;
    }

    .main-content__red-btn {
        top: 0px;
        right: 20px;
    }
    .main-content__title {
        font-size: 36px;
    }

    .main-content__list {
        font-size: 16px;
    }

    .main-content__btn-sound {
        font-size: 16px; 
    }

    .main-content__on {
        font-size: 16px; 
    }
}

@media screen and (max-width: 440px) {
    .main-content {
        padding-top: 0px;
    }

    .main-content__bg {
        min-width: 440px;
    }

    .main-content__bg-img1 {
        display: none;
    }

    .main-content__bg-video {
        display: none;
    }

    .main-content__bg-img2 {
        display: block;
    }

    .main-content__body {
        max-height: 780.266px;
        height: 100%;
        padding-top: 0px;
        align-items: end;
        flex-wrap: wrap;
    }

    .main-content__title-box {
        order: 2;
        margin-bottom: 10px;
    }

    .main-content__nav {
        order: 3;
    }

    .main-content__btn-sound {
        order: 1;
        padding-top: 40px;
        padding-right: 15px;
        height: 400px;
        max-width: 410px;
        width: 100%;
        justify-content: end;
    }

    .main-content__red-btn {
        order: 4;
        top: 40px;
        right: -180px;
    }
}

@media screen and (max-width: 430px) {
    .main-content {
        padding-top: 0px;
    }
    .main-content__bg {
        min-width: 430px;
    }

    .main-content__body {
        padding-left: 0px;
    }

    .main-content__title-box {
        padding-left: 15px;
    }

    .main-content__nav {
        padding-left: 15px;
    }

    
}

@media screen and (max-width: 414px) {
    .main-content {
        padding-top: 0px;
    }
    .main-content__bg {
        min-width: 414px;
    }

    .main-content__title-box {
        min-width: 384px;
        padding-left: 15px;
    }

    .main-content__nav {
        padding-left: 15px;
        max-width: 384px;
    }
}

@media screen and (max-width: 395px) {
    .main-content {
        padding-top: 0px;
    }
    .main-content__bg {
        min-width: 395px;
    }

    .main-content__red-btn {
        right: -150px;
        top: 10px;
    }

    .main-content__title-box {
        min-width: 365px; 
    }

    .main-content__nav {
        max-width: 365px;
    }
}

@media screen and (max-width: 380px) {
    .main-content {
        padding-top: 0px;
    }
    .main-content__bg {
        min-width: 380px;
    }
}











